*,
::before,
::after {
  --rap-phone-input-color: #000;
  --rap-phone-input-bg: #fff;
  --rap-phone-input-border-radius: 10px;
  --rap-phone-input-border-color: #dcdcdc;
  --rap-phone-input-font-size: 0.875rem;
}
